In [136]:
import pandas as pd
import numpy as np

drivers = pd.read_csv("drivers.csv", na_values=r'\N')
constructors = pd.read_csv("constructors.csv", na_values=r'\N')
races = pd.read_csv("races.csv", na_values=r'\N')
results = pd.read_csv("results.csv", na_values=r'\N')
seasons = pd.read_csv("seasons.csv", na_values=r'\N')
circuits = pd.read_csv("circuits.csv",na_values=r'\N')
status = pd.read_csv("status.csv", na_values=r'\N')
driver_standings = pd.read_csv("driver_standings.csv", na_values=r'\N')
constructor_standings = pd.read_csv("constructor_standings.csv", na_values=r'\N')
pit_stops = pd.read_csv("pit_stops.csv", na_values=r'\N')
driver_standings = driver_standings.rename(columns=lambda x: x.strip().lower())

In [137]:
# 1. Drivers Table
print("Cleaning drivers table...")
drivers = drivers.rename(columns=lambda x: x.strip().lower()) 
drivers.fillna("Unknown", inplace=True)  
# Drop unnecessary columns
drivers = drivers.drop(columns=['number',"code", 'url'], errors='ignore') 
print(drivers.head())

Cleaning drivers table...
   driverid   driverref  forename     surname         dob nationality
0         1    hamilton     Lewis    Hamilton  1985-01-07     British
1         2    heidfeld      Nick    Heidfeld  1977-05-10      German
2         3     rosberg      Nico     Rosberg  1985-06-27      German
3         4      alonso  Fernando      Alonso  1981-07-29     Spanish
4         5  kovalainen    Heikki  Kovalainen  1981-10-19     Finnish

C:\Users\Dell\AppData\Local\Temp\ipykernel_24088\2690699576.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  drivers.fillna("Unknown", inplace=True)  # Handle missing values

In [138]:
# 2. Constructors Table
print("Cleaning constructors table...")
constructors = constructors.rename(columns=lambda x: x.strip().lower())
constructors.fillna("Unknown", inplace=True)
constructors = constructors.drop(columns=['url'], errors='ignore')
print(constructors.head())

Cleaning constructors table...
   constructorid constructorref        name nationality
0              1        mclaren     McLaren     British
1              2     bmw_sauber  BMW Sauber      German
2              3       williams    Williams     British
3              4        renault     Renault      French
4              5     toro_rosso  Toro Rosso     Italian

In [139]:

# 3. Races Table
print("Cleaning races table...")
races = races.rename(columns=lambda x: x.strip().lower())
races["date"] = pd.to_datetime(races["date"], errors="coerce") 
races.fillna("Unknown", inplace=True)
races = races.drop(columns=['time', 'url', 'fp1_date', 'fp1_time', 'fp2_date', 'fp2_time', 'fp3_date', 'fp3_time', 'quali_date', 'quali_time', 'sprint_date', 'sprint_time'], errors='ignore')
print(races.head())

Cleaning races table...
   raceid  year  round  circuitid                   name       date
0       1  2009      1          1  Australian Grand Prix 2009-03-29
1       2  2009      2          2   Malaysian Grand Prix 2009-04-05
2       3  2009      3         17     Chinese Grand Prix 2009-04-19
3       4  2009      4          3     Bahrain Grand Prix 2009-04-26
4       5  2009      5          4     Spanish Grand Prix 2009-05-10

In [172]:
# 4. Results Table

results = results.rename(columns=lambda x: x.strip().lower())

results = results.drop(columns=['number', 'fastestlap','fastestlapspeed',"milliseconds","time","positiontext"], errors='ignore')

print((results.isnull().sum().sum())/(np.product(results.shape)) * 100)
results.head()
results.fillna(0, inplace=True) 
print(results.head(10))

0.0
   resultid  raceid  driverid  constructorid  grid  position  positionorder  \
0         1      18         1              1     1       1.0              1
1         2      18         2              2     5       2.0              2
2         3      18         3              3     7       3.0              3
3         4      18         4              4    11       4.0              4
4         5      18         5              1     3       5.0              5
5         6      18         6              3    13       6.0              6
6         7      18         7              5    17       7.0              7
7         8      18         8              6    15       8.0              8
8         9      18         9              2     2       0.0              9
9        10      18        10              7    18       0.0             10

   points  laps  rank fastestlaptime  statusid
0    10.0    58   2.0       1:27.452         1
1     8.0    58   3.0       1:27.739         1
2     6.0    58   5.0       1:28.090         1
3     5.0    58   7.0       1:28.603         1
4     4.0    58   1.0       1:27.418         1
5     3.0    57  14.0       1:29.639        11
6     2.0    55   8.0       1:29.534         5
7     1.0    53   4.0       1:27.903         5
8     0.0    47   9.0       1:28.753         4
9     0.0    43  13.0       1:29.558         3

In [153]:
# 5. Seasons Table
print("Cleaning seasons table...")
seasons = seasons.rename(columns=lambda x: x.strip().lower())
seasons.fillna("Unknown", inplace=True)
seasons = seasons.drop(columns=['url'], errors='ignore')
print(seasons.head())

Cleaning seasons table...
   year
0  2009
1  2008
2  2007
3  2006
4  2005

In [154]:

# 6. Circuits Table
print("Cleaning circuits table...")
circuits = circuits.rename(columns=lambda x: x.strip().lower())
circuits.fillna("Unknown", inplace=True)
circuits = circuits.drop(columns=['url', "lat", "lng", "alt"], errors='ignore')
print(circuits.head())

Cleaning circuits table...
   circuitid   circuitref                            name      location  \
0          1  albert_park  Albert Park Grand Prix Circuit     Melbourne
1          2       sepang    Sepang International Circuit  Kuala Lumpur
2          3      bahrain   Bahrain International Circuit        Sakhir
3          4    catalunya  Circuit de Barcelona-Catalunya      Montmel√≥
4          5     istanbul                   Istanbul Park      Istanbul

     country
0  Australia
1   Malaysia
2    Bahrain
3      Spain
4     Turkey

In [155]:
# 7. Status Table
print("Cleaning status table...")
status = status.rename(columns=lambda x: x.strip().lower())
status.fillna("Unknown", inplace=True)
print(status.head())

Cleaning status table...
   statusid        status
0         1      Finished
1         2  Disqualified
2         3      Accident
3         4     Collision
4         5        Engine

In [161]:
# 8. Driver Standings Table
driver_standings = driver_standings.rename(columns=lambda x: x.strip().lower())
driver_standings = driver_standings.drop(columns=['positiontext'], errors='ignore')
driver_standings.isnull().sum().sum() # no null values
print(driver_standings.head())

   driverstandingsid  raceid  driverid  points  position  wins
0                  1      18         1    10.0         1     1
1                  2      18         2     8.0         2     0
2                  3      18         3     6.0         3     0
3                  4      18         4     5.0         4     0
4                  5      18         5     4.0         5     0

In [162]:
# 9. Constructor Standings Table
constructor_standings = constructor_standings.rename(columns=lambda x: x.strip().lower())
constructor_standings = constructor_standings.drop(columns=['positiontext'], errors='ignore')

constructor_standings.isnull().sum().sum() # no null values
print(constructor_standings.head())

   constructorstandingsid  raceid  constructorid  points  position  wins
0                       1      18              1    14.0         1     1
1                       2      18              2     8.0         3     0
2                       3      18              3     9.0         2     0
3                       4      18              4     5.0         4     0
4                       5      18              5     2.0         5     0

In [166]:
pit_stops['duration'] = pit_stops['milliseconds'].apply(lambda x: x/1000)
pit_stops.head()
pit_stops.drop(columns = ["time"], errors="ignore")
pit_stops.isnull().sum() # no null values
pit_stops.head()
pit_stops.dtypes

raceId            int64
driverId          int64
stop              int64
lap               int64
time             object
duration        float64
milliseconds      int64
dtype: object

In [168]:
from datetime import datetime
drivers.head()
pd.to_datetime(drivers.dob)
drivers['dob'] = pd.to_datetime(drivers['dob'])
dates = datetime.today()-drivers['dob']
age = dates.dt.days/365
drivers['age'] = round(age)
drivers.head()

   driverid   driverref  forename     surname        dob nationality   age
0         1    hamilton     Lewis    Hamilton 1985-01-07     British  40.0
1         2    heidfeld      Nick    Heidfeld 1977-05-10      German  48.0
2         3     rosberg      Nico     Rosberg 1985-06-27      German  40.0
3         4      alonso  Fernando      Alonso 1981-07-29     Spanish  43.0
4         5  kovalainen    Heikki  Kovalainen 1981-10-19     Finnish  43.0

In [169]:

pit_stops['seconds'] = pit_stops['milliseconds'].apply(lambda x: x/1000)
pit_stops['duration'] = pit_stops['milliseconds'].apply(lambda x: x/1000)
pit_stops.drop(columns = ["seconds"])
pit_stops.head()

Exporting cleaned data...
Data preprocessing completed!

In [170]:
# Export cleaned data
print("Exporting cleaned data...")
drivers.to_csv("cleaned_drivers.csv", index=False)
constructors.to_csv("cleaned_constructors.csv", index=False)
races.to_csv("cleaned_races.csv", index=False)
results.to_csv("cleaned_results.csv", index=False)
seasons.to_csv("cleaned_seasons.csv", index=False)
circuits.to_csv("cleaned_circuits.csv", index=False)
status.to_csv("cleaned_status.csv", index=False)
driver_standings.to_csv("cleaned_driver_standings.csv", index=False)
constructor_standings.to_csv("cleaned_constructor_standings.csv", index=False)

print("Data preprocessing completed!")

Done

In [ ]:
output_file = "merged_f1_data.xlsx"

drivers = pd.read_csv("cleaned_drivers.csv")
constructors = pd.read_csv("cleaned_constructors.csv")
races = pd.read_csv("cleaned_races.csv")
results = pd.read_csv("cleaned_results.csv")
seasons = pd.read_csv("cleaned_seasons.csv")
circuits = pd.read_csv("cleaned_circuits.csv")
status = pd.read_csv("cleaned_status.csv")
driver_standings = pd.read_csv("cleaned_driver_standings.csv")
constructor_standings = pd.read_csv("cleaned_constructor_standings.csv")
lap_times = pd.read_csv("lap_times.csv")
pit_stops = pd.read_csv("pit_stops.csv")

with pd.ExcelWriter(output_file, engine='xlsxwriter') as writer: 
    drivers.to_excel(writer, sheet_name='Drivers', index=False)
    constructors.to_excel(writer, sheet_name='Constructors', index=False)
    races.to_excel(writer, sheet_name='Races', index=False)
    results.to_excel(writer, sheet_name='Results', index=False)
    seasons.to_excel(writer, sheet_name='Seasons', index=False)
    circuits.to_excel(writer, sheet_name='Circuits', index=False)
    status.to_excel(writer, sheet_name='Status', index=False)
    lap_times.to_excel(writer, sheet_name='Lap Times', index=False)
    pit_stops.to_excel(writer, sheet_name='Pit Stops', index=False)
    driver_standings.to_excel(writer, sheet_name='Driver Standings', index=False)
    constructor_standings.to_excel(writer, sheet_name='Constructor Standings', index=False)

print("Done")